*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
    padding: 20px;
}
.container2{
    max-width: 1920px;
    margin: 0 auto;
    background-color:rgb(220, 216, 216);
}
.main-header{
    background-image: url(./images/Rectangle\ 26.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:1920px ;
    height:1000px ;
    margin: 0 auto;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header-container ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-container ul li a{
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

.header{
    border-bottom: 2px solid rgb(204, 203, 203) ;
}
.left-main ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    text-align: center;
    padding-top: 235px;

}
.left-main ul li{
    width: 315px;
    height: 151px;
    background-color:#8D86C9;
    border-radius: 8px;
    padding-top: 50px;
    color: #fff;
    font-family: sans-serif;
    
}
.main-container h1{
    color: #fff;
    font-family: sans-serif;
    font-size: 48px;
    line-height: 140%;
    padding-top: 150px;
    padding-bottom:30px ;
}
.left-main ul li p{
    padding-bottom: 10px;
}
.sec-container{
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 120px;
}
.sec2-container{
    text-align: center;
    padding-top: 120px;
}
.menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 140%;
}
.menus li h4{
  padding-top: 20px;
  padding-bottom: 20px;

}
.title{
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 100px;
    padding-top: 110px;
}
.last-menus{
   display: flex;
   flex-direction: column;
   gap: 40px;
   line-height: 140%;
   

}
.last-menus a{
    width: 400px;
    height: 40px;
    background-color: #8D86C9;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    
}
.sec4-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 120px;
}
.sec4-tittle{
    padding-bottom: 40px;
    font-size: 28px;
    font-family: sans-serif;
}
.tittle2{
    font-size: 28px;
    font-family: sans-serif;
}
.img{
    padding-top: 20px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.footer{
    background-color:#F7ECE1 ;
    width: 1920px;
    height: 96px;
    margin: 0 auto;
    padding: 20px;
}
.link{
    color: #a39f9f;
    line-height: 140%;
}
.footer-menus li a{
    color: black;
    font-family: sans-serif;
    line-height: 140%;
}